Kepada ${fullName},<br/>
<br/>
ID Pengguna: ${email}<br/>
<br/>
<p>Pembuatan Aplikasi berhasil, berikut data credential yang dapat anda gunakan pada service kami:</p>

<p>&nbsp;</p>

<p>Corporate ID (CorpId) : ${corpId}</p>

<p>Secret Key&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : ${secretKey}</p>

<p>Client Key&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: ${clientKey}<br />
<br />
<br />
Diharapkan untuk tidak membagikan data credential anda kepada orang yang tidak berwenang.<br />
Terima kasih.<br />
Hormat kami,<br/>
PT Bank Syariah Indonesia<br/>
<br/>
untuk informasi lebih lanjut, silakan menghubungi:<br/>
BSI call 14040<br/>